{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Guess My Number{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='guess_style.css') }}" >
  <link type="image/x-icon" href="{{ url_for('static', filename='q-favicon.jpg') }}">
{% endblock %}

{% block content %}
<div id="game-dirs" class="jumbotron">
	<h1>Guess My Number!</h1>

	<p>I am thinking of a number 1-10...</p>
	<p>I'll give you 3 tries to guess it...</p>
</div>

<div id="hint" class="container">
	<p id="hint1"> </p>
	<p id="hint2"> </p>
</div>

<div class="container">
	{{ wtf.quick_form(form) }}
	<button id="submit">Guess</button>
</div>

<div class="container replay">
	<a id="play-again">Play Again</a>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='guess.js') }}" type="text/javascript"></script>
{% endblock %}
