/********************************
STANDARD PAGE RULES
*********************************/
* {
	margin:0;
	padding:0;
} 
html,
body {
	text-align: center;
}
/*******************************
FONTS
*******************************/
#play-again,
#hint {
	font-size: 1.15em;
}
a,
button,
.control-label {
	font-size: 1.25em;
}
/********************************
 COLORS
*********************************/
#num {
	background-color: #E6EADE; /* grey */
	color: #003B38; /* dark blue */
}
body {
	background-color: #00878A; /* blue */
}
p,
#play-again {
	color: #E6EADE; /* grey */
}
button {
	color: #367A06; /* dark green */;
}
.jumbotron,
button {
	color: #367A06; /* dark green */
	background-color: #7DB8B3; /* light blue */
}
#hint p{
	color: #94FF70; /* light green */
}
/********************************
 LINK PROPERTIES
*********************************/
a:link, 
a:visited {
	text-decoration:none;
	border: none;
	}
 
a:hover, 
a:active {
	color: #003B38; /* dark blue */
	}
/*******************************
PADDING
*******************************/
h1, 
#game-dirs,
form {
	padding: 20px;
}
#hint {
	padding: 5px;
}
button {
	padding: 4px;
	width: 200px;
}
.replay {
	padding-top: 15px;
}
/*******************************
BORDERS
*******************************/
button {
	border: 2px solid #E6EADE; /* grey */
	border-radius: 5px;
}